<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">;
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">

    <!-- SCRIPTS FOR BOOTSTRAP -->

	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-typeahead.js') }}"> </script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/typeahead.js') }}"> </script>

	<!-- SCRIPTS FOR jQUERY -->

    <title>Mashventure</title>    
  </head>
  <body>
   
    <header>
      <div class="container">
	<h1 class="logo">Mashventure</h1>
	<strong><nav>
	  <ul class="menu">
	    <li><a href="{{ url_for('home') }}">Home</a></li>
	  </ul>
	</nav></strong>
      </div>
    </header> 
     
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
    
  </body>
</html>